@import "../../assets/styles/variables"; 

.button {
    cursor: pointer;
    outline: 0px;
    border: none;
    border-radius: 8px;
    font-family: "Clan Pro", sans-serif;
    font-weight: 600;
    transition: all 0.25s ease 0s;
    white-space: nowrap;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    background: rgb(16, 16, 16);
    color: rgb(255, 255, 255);
    min-width: 99%;
    width: 99%;
    padding: 18px 32px;
    transition: 0.4s;

    &:hover {
        background-color: $blue;
    }

    &__groupButton {
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: 60px;
    }

    &[data-disabled="disabled"] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}