// COLORS 
$background: #FFFFFF;
$black: #404040;
$white: white;
$gray: gray;
$light-gray: #989898;
$dark-gray: rgb(60, 60, 60);
$yellow: #faf760;
$blue: #0da2ff;

/* FONT SIZE */
$font-size-normal: initial;

// MOBILE FONT SIZE
$font-size-mobile: 11px;

// SIZE 
$max-width: 1200px;